:root {
    --pr-color: rgb(185,20,80);
}

.white {
    color: white;
}

.primary {
    background-color: var(--pr-color)
}

.d-flex input, 
.d-flex select {
    border-color: red;
    border-width: 1px;
}

.btn {
    background-color: rgb(204,204,204);
    color: var(--pr-color); 
    margin-top: 1.5rem;
    font-size: 20px;
}

.bg-grey {
    background-color: gray;
    flex-basis: 25%;
}

.border-tp {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}